{% extends 'base.j2' %}
{% block content %}
      <div class="single-post">
        <div class="single-post-image">
            <img src="{{ url_for('photos', path='/' + post.photo) }}" alt="{{ post.name }}">
        </div>
        <div class="single-post-content">
            <div class="single-post-title">
                <h2>{{ post.name }}</h2>
            </div>
            <div class="single-post-description">
                <p>{{ post.description }}</p>
            </div>
            <div class="single-post-meta">
                <span class="single-post-author">
                    {{ post.author.username }}
                </span>
                <span class="single-post-date">
                    {{ post.data }}
                </span>
            </div>
        </div>
        <div class="single-post-comments">
            <a href="{{ url_for('add_comment', post_id=post.id) }}">
                <span class="single-post-comments-text">
                    <strong>Залишити комментар</strong>
                </span>
            </a>
        </div>
        {% for comment in post.comments %}
            <div class="comment">
                <div class="comment-content">
                    {{ comment.text }}
                </div>
                <div class="comment-date">
                    {{ comment.created_at }}
                </div>
            </div>
        {% endfor %}


    </div>


{% endblock %}
