<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" href="{{ url_for('static', filename='styles.css') }}?v=13.0" rel="stylesheet">
  <title>{{ page_title }}</title>
</head>
<body>

    <div class="menu">
        <a href="{{ url_for('home') }}">Головна</a>
        <a href="{{ url_for('contacts') }}">Про нас</a>
        <a href="{{ url_for('postlist') }}">Знахідки</a>
        {% if user.is_authenticated %}
        <a href="{{ url_for('logout') }}">Вийти з аккаунту: {{ user.username }}</a>
        <a href="{{ url_for('addpost') }}">Опублікувати</a>
        {% else %}
        <a href="{{ url_for('register') }}">Реєстрація</a>
        <a href="{{ url_for('login') }}">Логін</a>
        {% endif %}
    </div>

  {% block content %}
  {% endblock %}

</body>
</html>
